若草
color: #8db57a ;
    メイン 成長と安心の緑。学習スタートや「次へ」に。

淡い若草
color: #f1f3eb ;
    背景に

杏子	
color: #f2c091 ;
サブメイン 期待感のある橙。答えを表示、設定変更に。

抹茶	
color: #7da36a ;
	成功 深い達成感の緑。正解した時や、完了ボタンに。

餡子
color: #8a6b63 ;
    注意  穏やかな紫茶。覚えてない時や、戻るボタンに。

桜
color: #f0a1a8 ;
	アクセント 優しい桃色。重要なヒントや、お気に入り登録に。

消炭	
color: #4a4543	;
    文字色 温かみのある墨色。ヒントの文字や、強い見出しに。

練り
color: #fcfaf2	;
    ベース 柔らかな白。ボタンの背景や、カードの地色に。